.headder {
    background: rgba(13, 2, 37, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    width: auto;
    height: fit-content;
    padding: 5px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu:hover a {
    opacity: 0.4;
}

.menu a:hover {
    opacity: 1;
    color: #fff;
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.menu {
    transform: scale(1, 1);
}

.footerlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.5rem;
}

.footerlist>li>a {
    text-decoration: inherit;
    color: inherit;
}

.footerlist>li {
    margin-left: 10px;
}

@media only screen and (max-width: 950px) {
    .menu {
        flex-direction: column;
        background: rgba(13, 2, 37, 0.55);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        align-items: start;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
    }

    .menu a {
        margin-left: 12px;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        color: inherit;
        font-size: 28px;
        cursor: pointer;
    }
}